.list-style-none{
    list-style: none;
}
.navbar{
   display: flex;
   justify-content: flex-start; 
   align-items: center;
   background-color: aliceblue;
}
.navbaritems{
    margin: 20px;
    text-decoration: none;
    color: black;
    background-color: #09c;
    border-radius: 15px;
    padding: 5px;
}
html{
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .navbarlogo{
    border-radius: 50%;
  }
.bar{
    border-radius: 15px;
    background-color: beige;
    box-shadow: black 20%;
     padding: 5px 15px;
}